<?xml version="1.0" encoding="UTF-8"?>

<suite name="nopCommerceApp">

	<listeners>
		<listener
			class-name="app.nopcommerce.Utilities.ExtentReportManager" />
	</listeners>

	<test name="chromeTest">
		<parameter name="browser" value="chrome" />
		<classes>
		
			<class name="app.nopcommerce.testCases.TC_001_LoginTest" />
			<class name="app.nopcommerce.testCases.TC_002_DataDrivenTest_Login_with_Fillo" />
			<class name="app.nopcommerce.testCases.TC_003_AddCustomerTest" />
			<class name="app.nopcommerce.testCases.TC_004_SearchCustomerByEmail" />
			<class name="app.nopcommerce.testCases.TC_005_SearchCustomerByName" />
			<class name="app.nopcommerce.testCases.TC_006_LoginDDT_with_Apachi_poi" />
			<class name="app.nopcommerce.testCases.TC_007_DataDrivenTestxls_with_Fillo_one_entry" />
			<class name="app.nopcommerce.testCases.TC_008_DataDrivenTest_Login_with_Fillo_Data_Provider" />
			
			
		</classes>
	</test>
	
</suite>